html {
        margin: 0px; padding: 0px;
     }

body {
        margin: 0px; padding: 0px;
        font-family:Arial, Helvetica, sans-serif;
        background:gray;
        color:#fff;
        background:#E4E7E1;
     }

.wrap {
        position: relative;
        width:auto;
        max-width:640px;
        margin:0 auto;
        padding: 0px;
        }

a,a:link,a:visited,a:hover,a:active {text-decoration:none;}

.PageLogin{
           width:auto;
           Background: #B9CEDE;
           border: 1px solid #DFDDDD;
           margin:5px  5px 20px 5px;
           border-radius: 0.4em 0.4em 0.4em 0.4em;
          -o-border-radius: 0.4em 0.4em 0.4em 0.4em;
          -moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
          -webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;
           background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #B9CEDE));
           background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: linear-gradient(to top left, #FFFFFF 0%, #B9CEDE 100%);

          }

.PageLoginFinal{
           width:auto;
           Background: #B9CEDE;
           border: 1px solid #DFDDDD;
           margin:20px 5px 4px 5px;
           border-radius: 0.4em 0.4em 0.4em 0.4em;
          -o-border-radius: 0.4em 0.4em 0.4em 0.4em;
          -moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
          -webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;
           background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #B9CEDE));
           background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: linear-gradient(to top left, #FFFFFF 0%, #B9CEDE 100%);

          }

.PageLoginCompatirImagen{
           width:auto;
           Background: #B9CEDE;
           border: 1px solid #DFDDDD;
           margin:20px 5px 4px 5px;
           border-radius: 0 0 0.4em 0.4em;
          -o-border-radius: 0 0 0.4em 0.4em;
          -moz-border-radius: 0 0 0.4em 0.4em;
          -webkit-border-radius: 0 0 0.4em 0.4em;
           background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #B9CEDE));
           background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: linear-gradient(to top left, #FFFFFF 0%, #B9CEDE 100%);

          }

.PageTitle{
           width:auto;
           border-top: 0px;
           margin:0px 5px 20px 5px;
          }

.PageLoginHeader{

               margin-top:-17px;
	       margin-left:-1px;
               margin-right:-1px;
	       width:auto;
               height:38px;
	       padding-top:2px;
               line-height: 40px;
               background:#134D86;
               font-weight: bold;
               text-align:center;
               font-size:1.5em;
               line-height:35px;
               border-radius: 0.4em 0.4em 0 0;
              -o-border-radius: 0.4em 0.4em 0 0;
              -moz-border-radius: 0.4em 0.4em 0 0;
              -webkit-border-radius: 0.4em 0.4em 0 0;
           }

.PageMensajes {
           width:auto;
           Background: #B9CEDE;
           border: 1px solid #DFDDDD;
           margin:-17px  5px 27px 5px;
           border-radius: 0.4em 0.4em 0.4em 0.4em;
          -o-border-radius: 0.4em 0.4em 0.4em 0.4em;
          -moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
          -webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;
           background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #B9CEDE));
           background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: linear-gradient(to top left, #FFFFFF 0%, #B9CEDE 100%);

           }

.logo{
      padding:0px 0;
     }

.imagen{
      padding:0 10px;
     }

.logo img{display:block;margin:0 auto;max-width:100%;}

.logocaption{text-align:center;font-size:1.1em;font-weight:bold;rgb(102,102,102);padding-bottom:10px;}

.PageLoginLogo {
                background-repeat: no-repeat;
                background-position: 20px center;
                margin: 5px 0px 8px 10px;
                padding: 0 3px 10px 0;

               }

.PageFreeLinks{min-height:250px;}

.PageLoginLogoUser {background-image:url('img/user.png')}
.PageLoginLogoCode {background-image:url('img/code.png')}
.PageLoginLogoPayPal   {background-image:url('img/paypal.gif')}
.PageLoginLogoFreeWifi {background-image:url('img/freewifi.png')}
.PageLinksLogo {background-image:url('img/free_links.png')} 
.PageInfoLogo {background-image:url('img/info_small.jpg')}
.PageTarifasLogo {background-image:url('img/tarifas_mobile.png')}
.PagePromocionesLogo {background-image:url('img/promociones.png')}
.PageLoginLogoFacebook {background-image:url('img/facebook-logo.png')} 

.PageLoginLogoText {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	line-height: 1.3;
	font-size: 1.4em;
	color: rgb(102,102,102);
	font-weight : bold;
	text-align: justify;
}

.NewPage {
           width:auto;
           Background: #B9CEDE;
           border: 1px solid #DFDDDD;
           margin:10px  5px 27px 5px;
           border-radius: 0 0 0.4em 0.4em;
          -o-border-radius: 0 0 0.4em 0.4em;
          -moz-border-radius: 0 0 0.4em 0.4em;
          -webkit-border-radius: 0 0 0.4em 0.4em;
           background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #B9CEDE));
           background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: linear-gradient(to top left, #FFFFFF 0%, #B9CEDE 100%);

           }

.NewPageTitle{
           width:auto;
           Background: #B9CEDE;
           border: 1px solid #DFDDDD;
           border-top: 0px;
           margin:0px  5px 27px 5px;
           color: rgb(102,102,102);
           border-radius: 0 0 0.4em 0.4em;
          -o-border-radius: 0 0 0.4em 0.4em;
          -moz-border-radius: 0 0 0.4em 0.4em;
          -webkit-border-radius: 0 0 0.4em 0.4em;
           background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #B9CEDE));
           background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #B9CEDE 100%);
           background-image: linear-gradient(to top left, #FFFFFF 0%, #B9CEDE 100%);

          }

.NewPageHeaderBootstrap{

               margin-top:-17px;
               margin-left:-1px;
               width:auto;
               height:38px;
               padding-left: 21px;
	       padding-top:2px;
               line-height: 40px;
               background:#134D86;
               font-weight: bold;
               text-align:left;
               font-size:1.3em;
               line-height:34px;
               border:#134D86;
               border-radius: 0.4em 0.4em 0 0;
              -o-border-radius: 0.4em 0.4em 0 0;
              -moz-border-radius: 0.4em 0.4em 0 0;
              -webkit-border-radius: 0.4em 0.4em 0 0;
           }

.NewPageHeader{

               margin-top:-17px;
               margin-left:-1px;
               width:auto;
               height:36px;
	       padding-top:2px;
               background:#134D86;
               font-weight: bold;
               text-align:left;
		padding-left: 11px;
               font-size:1.067em;
               line-height:33px;
               border:#134D86;
               border-radius: 0.4em 0.4em 0 0;
              -o-border-radius: 0.4em 0.4em 0 0;
              -moz-border-radius: 0.4em 0.4em 0 0;
              -webkit-border-radius: 0.4em 0.4em 0 0;
           }

.NewPageHeaderCentrado{

               margin-top:-17px;
	       margin-left:-1px;
               margin-right:-1px;
               width:auto;
               height:36px;
	       padding-top:2px;
               background:#134D86;
               font-weight: bold;
               text-align:center;
               font-size:1.067em;
               line-height:33px;
               border:#134D86;
               border-radius: 0.4em 0.4em 0 0;
              -o-border-radius: 0.4em 0.4em 0 0;
              -moz-border-radius: 0.4em 0.4em 0 0;
              -webkit-border-radius: 0.4em 0.4em 0 0;
           }

.NewPageLogo {
                background-repeat: no-repeat;
                background-position: 20px center;
                margin: 5px 0px 8px 10px;
                padding: 0 3px 10px 0;

               }

.NewPageLogoPassword {background-image:url('img/password.png')}

.NewPageLogoCredito {background-image:url('img/credito.png')}

.NewPageText {text-align:center;padding-top:10px;font-size:1.2em;color:rgb(102,102,102);font-weight : bold;}

.NewPageTextBootstrap {padding-left:68px;padding-right:20px;padding-top:10px;line-height: 1.2;font-size:1.2em;color:rgb(102,102,102);font-weight : bold;}

.NewPageTextAlternativo {padding-left:20px;padding-right:20px;padding-top:10px;font-size:1.05em;color:rgb(102,102,102);font-weight : bold;}

.MessagePageLogo {
                  background-repeat: no-repeat;
                  background-position: 20px center;
                  padding: 0 3px 10px 0;
                 }
.MessagePageText {padding-left:68px;padding-top:10px;line-height: 1.2;font-size:1.2em;font-weight:bold;}

.MessagePageTextAlternativo {padding-left:68px;padding-top:10px;line-height: 1.2;font-size:1.05em;font-weight:bold;}

.WarningPage {background-image:url('img/warning_small.jpg');color:red }
.ErrorPage {background-image:url('img/error_small.jpg');color:red }
.InfoPage {background-image:url('img/info_small.jpg');color:rgb(102,102,102)}

.NewPage a,
.NewPage a:link,
.NewPage a:visited,
.NewPage a:hover,
.NewPage a:active {
        color: #448da6;text-decoration:none;outline-style: none;
                 }

.Footer {
      font-weight : bold;
      padding-top:5px;
      padding-bottom:5px;
      text-align: center;
      font-size:0.9em;
      color:rgb(102,102,102);
       }

.buttonIniciarSesion {
         background:#234A8B;
         background-image: -ms-linear-gradient(top, #4FA2E8 0%, #234A8B 100%);
         background-image: -moz-linear-gradient(top, #4FA2E8 0%, #234A8B 100%);
         background-image: -o-linear-gradient(top, #4FA2E8 0%, #234A8B 100%);
         background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4FA2E8), color-stop(1, #234A8B));
         background-image: -webkit-linear-gradient(top, #4FA2E8 0%, #234A8B 100%);
         background-image: linear-gradient(to bottom, #4FA2E8 0%, #234A8B 100%);
         padding: 0.55em 1em 0.55em;
         width: auto;
         text-align: center;
         color: #ffffff;
         line-height: 1em;
         font-size: 1.5em;
         font-weight: bold;
         border-radius: 0.2em;
         border: #4FA2E8;
         -o-border-radius: 0.2em;
         -moz-border-radius: 0.2em;
         -webkit-border-radius: 0.2em;

        }

button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
label{display:block;}

form label{
        font-size:1.2em;
        color:rgb(51,51,51);
        font-weight : bold;
        margin-bottom: 0.2em;
       }

form div{
        margin:0 0 0.8em 0;
        }
form textarea{
        height:80px;
             }
form label span.red{color:#ff0000;}
button {
         outline-style:none;
       }

form input[type=submit],
form input[type=submit]:active,
button,
button:active{
        background:#234A8B;
        background-image: -ms-linear-gradient(top, #4FA2E8 0%, #234A8B 100%);
        background-image: -moz-linear-gradient(top, #4FA2E8 0%, #234A8B 100%);
        background-image: -o-linear-gradient(top, #4FA2E8 0%, #234A8B 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4FA2E8), color-stop(1, #234A8B));
        background-image: -webkit-linear-gradient(top, #4FA2E8 0%, #234A8B 100%);
        background-image: linear-gradient(to bottom, #4FA2E8 0%, #234A8B 100%);
         padding: 0.55em 1em 0.55em;
         width: auto;
         text-align: center;
         color: #ffffff;
         line-height: 1em;
         font-size: 1.5em;
         font-weight: bold;
         border-radius: 0.2em;
         border: #4FA2E8;
         -o-border-radius: 0.2em;
         -moz-border-radius: 0.2em;
         -webkit-border-radius: 0.2em;

      }


form input[type=submit]:hover,
button:hover {
     background:#214361;
     background-image: -ms-linear-gradient(top, #4FA2E8 0%, #214361 100%);
     background-image: -moz-linear-gradient(top, #4FA2E8 0%, #214361 100%);
     background-image: -o-linear-gradient(top, #4FA2E8 0%, #214361 100%);
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4FA2E8), color-stop(1, #214361));
     background-image: -webkit-linear-gradient(top, #4FA2E8 0%, #214361 100%);
     background-image: linear-gradient(to bottom, #4FA2E8 0%, #214361 100%);


        }


form input[type=submit]:disabled,
button:disabled {
           background:#d3d3d3;
           background-image: -ms-linear-gradient(top,#FFFFFF 0%,  #d3d3d3 100%);
           background-image: -moz-linear-gradient(top, #FFFFFF 0%,  #d3d3d3 100%);
           background-image: -o-linear-gradient(top, #FFFFFF 0%,  #d3d3d3 100%);
           background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1,  #d3d3d3));
           background-image: -webkit-linear-gradient(top, #FFFFFF 0%,  #d3d3d3 100%);
           background-image: linear-gradient(to bottom, #FFFFFF 0%, #d3d3d3 100%);
           color: GrayText;
           cursor: inherit;

                 }

form input[type=text],
form input[type=password],
input[type=checkbox], 
form textarea,
form select {

         padding: 0.075em 0.4em 0.01em 0.4em;
         margin: 0 0 0.2em;
         border: 2px solid #A0A0A0;
         width: 96%;
         height: 1.5em;
         color: #000000;
         line-height: 1.0em;
         font-size: 1.6em;
         border-radius: 3px;
         -o-border-radius: 3px;
         -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
          outline-style:none;
           box-sizing:content-box;
         -ms-box-sizing:content-box;
         -moz-box-sizing:content-box;
         -webkit-box-sizing:content-box;
               }

input[type=checkbox] {

         width: 1.1em;
         height: 1.1em;

     }

form select {
        background: #FFFFFF;
        background-image:-ms-linear-gradient(top,#FFFFFF 0%, #CFCFCF 100%);
        background-image: -moz-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
        background-image: -o-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #CFCFCF));
        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #CFCFCF 100%);
           }

form input[type=text]:focus,
form input[type=password]:focus,
form textarea:focus,
form select:focus {
                  border: 2px solid #48A0FA;
                  outline-style:none;
                  }




.services {
          width: auto;
          font-size:1em;
          font-weight:bold;
          }

.services .service {
      display: inline-block;border-radius: 4px; width: 100%; color: white; font-family: "Lucida Grande"; margin-bottom:10px; box-shadow: inset 0px 1px #69c4ea; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px;   ;


}
.services .service:hover {
        text-decoration: none;
}

.services .service span {
        line-height: 1em; padding-right: 12px; padding-left: 14px; margin-right: 8px; border-right-color: inherit; border-right-width: 1px; border-right-style: solid; display: inline-block;
}



.services .default {
        border-color: rgb(35, 156, 207); box-shadow: inset 0px 1px #69c4ea; background-color: rgb(0, 172, 237);

                   }

.services .default:hover {
        background: rgb(7, 187, 255);
                         }

.services .default .logo {
                      background:url('img/link.png') no-repeat center;
                         }

.services .twitter {
        border-color: rgb(35, 156, 207); box-shadow: inset 0px 1px #69c4ea; background-color: rgb(0, 172, 237);
                   }

.services .twitter:hover {
        background: rgb(7, 187, 255);
                         }

.services .twitter .logo {
                      background:url('img/twitter.png') no-repeat center;
                         }


.services .facebook {
         border-color: rgb(49, 75, 128); box-shadow: inset 0px 1px #768cb6; background-color: rgb(59, 89, 152);


}
.services .facebook:hover {
        background: rgb(66, 100, 170);
                          }

.services .facebook .logo {
                      background:url('img/facebook.png') no-repeat center;
                          }



.services .google {
         border-color: rgb(167, 52, 37); box-shadow: inset 0px 1px #d2776b; background-color: rgb(190, 60, 43);
                  }
.services .google:hover {
         background: rgb(209, 68, 50);
                        }

.services .google .logo {
                      background:url('img/google.png') no-repeat center;
                        }


.DisplayPP {

        margin:0px 25px 10px 25px ;
        margin:0;
        width:auto;
        }

.DisplayM{
          margin:0;
          border: 1px solid #A0A0A0;
          padding: 0.55em 0.1em 0.55em 0.1em;
          width: auto;
          text-align: right;
          color: #000000;
          font-size: 1.4em;
          font-weight: bold;
           overflow:hidden;
          border-radius: 0 0.2em 0.2em 0;
         -o-border-radius: 0 0.2em 0.2em 0;
         -moz-border-radius: 0 0.2em 0.2em 0;
         -webkit-border-radius: 0 0.2em 0.2em 0;

          }

.DisplayC {
         float:left;
         background: #CFCFCF;
         border: 1px solid #A0A0A0;
         padding: 0.55em 0.3em 0.55em 0.3em;
         width: auto;
         text-align: center;
         color: #000000;
         font-size: 1.4em;
         font-weight: bold;
         border-radius: 0.2em 0 0 0.2em;
        -o-border-radius: 0.2em 0 0 0.2em;
        -moz-border-radius: 0.2em 0 0 0.2em;
        -webkit-border-radius: 0.2em 0 0 0.2em;
        background-image:-ms-linear-gradient(top,#FFFFFF 0%, #CFCFCF 100%);
        background-image: -moz-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
        background-image: -o-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #CFCFCF));
        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #CFCFCF 100%);

        }


.DisplayPP table {border:0;margin:0 auto;padding: 0;width:100%}


.DisplayPPBtns { }



.DisplayPPBtns Button {
         padding: 0.55em 0.55em 0.55em 0.55em;
         padding: 0;
         width: 1.4em;
         text-align: center;
         color: #ffffff;
         height:1.4em;
         font-size: 1.7em;
    }



.DisplayPP label{

        font-size:0.9em;
        color:rgb(51,51,51);
        font-weight : bold;
        margin-bottom: 0.4em;
}

.wrap form ,
.wrap .services,
.wrap .DisplayPP{
                 padding: 0px 20px 10px 20px

                 }

.wrap .services.freewifi{
                 padding: 10px 40px 20px 40px

                 }




.menu{
        list-style:none;
        padding:3px;
        font-size:1.4em;

        }

.menuTarifas{
        list-style:none;
        padding:3px;
        font-size:1.2em;
	margin:0px 30px 10px 30px;
        }

.menu li{display:block;}
.menu li{
          padding:5px;
          border-bottom-color:#A0A0A0;
         border-bottom-style: solid;
         border-bottom-width: 1px;
        }
.menu a{
        color:#666666;
        opacity:.8;
        font-weight:bold;

}
.menu a:hover{color:#666; opacity:1;}

.wrap .menu {margin:0px 30px 10px 30px;}



.CounterPage {

             padding:15px 40px 0px 40px;
             }
.CounterDisplay{


        border: 1px solid #A0A0A0;
        padding: 0.55em 0.2em 0.55em 0.2em;
        margin-bottom:20px;
        text-align: center;
        font-size: 1.4em;
        font-weight: bold;
	color:rgb(102,102,102);
        border-radius: 0 0 0.2em 0.2em;
        -o-border-radius: 0 0 0.2em 0.2em;
        -moz-border-radius: 0 0 0.2em 0.2em;
        -webkit-border-radius: 0 0 0.2em 0.2em;
        background-image:-ms-linear-gradient(top,#FFFFFF 0%, #CFCFCF 100%);
        background-image: -moz-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
        background-image: -o-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #CFCFCF));
        background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #CFCFCF 100%);
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #CFCFCF 100%);

              }

.CounterHeader {
          text-align: center;
          font-size: 1.2em;
          font-weight: bold;
	  color:rgb(102,102,102);
                }


.PageTitle form ,
.PageTitle .services{
                 padding:0px 40px 5px 40px;

                 }

.PhoneDisplay{
              
              color:red;
              margin-left:1em;
              
             }

form input[type=text].Width50 {width:50%} 

.PageInfoText {padding:5px 20px 5px 20px;font-size:1.0em;color:rgb(102,102,102);font-weight : bold;
                border-bottom: 1px solid #DFDDDD;text-align: justify;
                 }



a.arrow_link,
a.arrow_link:link,
a.arrow_link:visited,
a.arrow_link:active {
    background: url('img/navi_arrow.png') left 2px no-repeat;
    padding: 0px 0px 0px 12px;
    font-size:0.9em;
    text-decoration: none;
    font-weight:bold;
    color: #004C92;
}
a.arrow_link:hover {
    text-decoration: underline;
}

.PageTitle #InfoMsgDisplay,
.PageTitle #WarningMsgDisplay,
.PageTitle #ErrorMsgDisplay {
                 padding: 0px 20px 10px 20px

                 }
form label.FlatArea {
         padding: 0 0.3em;
         margin: 0 0 0.2em;
         border: 1px solid #A0A0A0;
         width: 96%;
         color: #000000;
         text-align: justify;
         font-size: 1.1em;
         border-radius: 3px;
         -o-border-radius: 3px;
         -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
                     }
.TermsOfUse {padding:10px 30px 20px 30px; text-align: justify;}

.TermsOfUse p{margin:0;padding:0}

.SocialButton {min-height:100px;
               padding:40px 20px 40px 20px;
               font-size:0.9em;
               color:rgb(102,102,102);
               font-weight : bold;
               text-align: justify;}

.FreeWifiTaC {
              padding:10px 0px 0px 0px;
               font-size:0.9em;
               color:rgb(102,102,102);
               font-weight : bold;
               text-align: justify;
             }
.SocialButton table,
.FreeWifiTaC table {border:0;margin:0 auto;padding: 0;width:100%;}

.FreeWifiTaC a,
.FreeWifiTaC a:link,
.FreeWifiTaC a:visited,
.FreeWifiTaC a:hover,
.FreeWifiTaC a:active {
        color: #448da6;text-decoration:underline;outline-style: none;
                 }
.SocialButton .services {

         padding: 0;
          }

.SocialButton .services .service {margin:0;}

.PopupMenuBar {
                height: 30px;
                padding-top: 5px;
                margin-left:1px;
                font-size: 14px;
                font-weight : bold;
                text-align:center;
              }

.PopupMenu     {
                 display: inline-block;
                 text-align:left;
                 position: relative;
                }

.PopupMenu  a { color: #474747;  padding-left:35px;}
.PopupMenu  a:visited { color: #474747;}

.PopupMenu  a:hover,a:active { color: #448da6;}



.PopupMenuItem  {
                 position: relative;
                 float: left;
                 width: 110px;
                 height: 20px;
                 padding-top:3px;
                 background: #FFFFFF;
                 border: #B9CEDE solid 1px;
                 cursor: pointer;
                 border-radius: 0.2em 0.2em 0.2em 0.2em;
                 -o-border-radius: 0.2em 0.2em 0.2em 0.2em;
                 -moz-border-radius: 0.2em 0.2em 0.2em 0.2em;
                 -webkit-border-radius: 0.2em 0.2em 0.2em 0.2em;
                }

.PopupMenuItem:after {
                       width: 0;
                       height: 0;
                       content: "";
                       position: absolute;
                       top: 9px;
                       right: 8px;
                       border-top: 6px solid  #B9CEDE ;
                       border-left: 6px solid transparent;
                       border-right: 6px solid transparent ;
                       z-index: 1;
                     }

.PopupSubItems {
                 position: absolute;
                 width: 145px;
                 padding-top: 6px;
                 padding-bottom: 6px;
                 background: #FFFFFF;
                 margin-top: 20px;
                 border: 1px solid #B9CEDE;
                 border-top: none;
                 z-index: 500;
               }

.PopupSubItems ul {
                    padding-left: 0px;
                    margin-top:0px;
                    margin-bottom: 0px;
                  }


.PopupSubItems ul li {
                        list-style: none;
                        padding-top: 6px;
                        padding-bottom: 6px;
                      }

.Hidden  {display: none;}

.PopupMenu a {
              background-repeat: no-repeat;
              background-position: 15px center;
             }
.CreditHidden {
               display: none;
              }
.TimerHidden {
               
              }
